root = true

[*]
end_of_line = lf
indent_style = tab
indent_size = 4
max_line_length = 100

[*.cs]
dotnet_diagnostic.CS1591.severity = none # CS1591: Missing XML comment for publicly visible type or member

[*.yml]
indent_style = space
indent_size = 2
