:root {
	--rz-border-radius: 0;
	--rz-tabs-tab-padding-block: .5em;
	--rz-tabs-tab-padding-inline: .5em;
}

.monaco-editor {
	--vscode-editor-background: #111111 !important;
	--vscode-editorGutter-background: #111111 !important;
}