@typeparam TNode where TNode : Piper.Core.Nodes.IPpNode
@inherits NodeViewBase<TNode>

<NodeView Node="Node">

	@foreach (var prop in Node.NodeProps)
	{
		if (prop is MyParam param)
		{
			<RadzenFormField Text="@param.Name" Style="width: 100%;">
				<RadzenTextBox
					@bind-Value="@param.Value"
					@onmousedown:stopPropagation
					@onmousemove:stopPropagation
				/>
			</RadzenFormField>
		}

		else if (prop is MyPortModel port)
		{
			<PiperNodePort Port="port"/>
		}
	}

	@* <span class="piper-node-separator"></span> *@

</NodeView>