@typeparam TNode where TNode : Piper.Core.Nodes.IPpNode
@inherits NodeViewBase<TNode>

<NodeView Node="Node">

	@foreach (var param in Node.Params)
	{
		<RadzenFormField Text="@param.Name" Style="width: 100%;">
			<RadzenTextBox
				@bind-Value="@param.Value"
				@onmousedown:stopPropagation
				@onmousemove:stopPropagation
			/>
		</RadzenFormField>
	}

	<span class="piper-node-separator"></span>

	@foreach (var port in Node.Ports)
	{
		<PiperNodePort Port="port" SelectDataFrame="port.SelectDataFrame"/>
	}
</NodeView>