.diagram-node {
	width: 230px;
	outline: 1px solid black;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div > h5 {
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
}

div > input[type=number] {
	padding: 3px;
	border-radius: 3px;
	border: 1px solid black;
	margin-bottom: 8px;
}

::deep .diagram-port {
	position: absolute;
	width: 12px;
	height: 12px;
	top: 50%;
	background-color: var(--rz-black);
	border-radius: 6px;
	border: 1px var(--rz-primary) solid;
	transform: translate(0, -50%);
}

::deep .diagram-port.top {
	top: -8px;
}

::deep .diagram-port.bottom {
	bottom: -8px;
}

::deep .diagram-port.left {
	left: -26px;
}

::deep .diagram-port.right {
	right: -26px;
}

.piper-node-port-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.piper-field {
	position: relative;
}