.diagram-node {
	width: 230px;
	outline: 1px solid black;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

::deep .piper-field {
	position: relative;
}