<div class="diagram-node" style="background-color: var(--rz-base-800); border-radius: .3em;">

	<RadzenStack Orientation="Orientation.Vertical">
		<RadzenStack
			Orientation="Orientation.Horizontal"
			AlignItems="AlignItems.Center"
			JustifyContent="JustifyContent.SpaceBetween"
			Style="background-color: var(--rz-secondary); margin: -20px -20px 0 -20px; padding: .6em;"
		>
			<h3 style="margin: 0;">Command</h3>

			<RadzenStack Orientation="Orientation.Horizontal">
				<RadzenProgressBarCircular
					ProgressBarStyle="ProgressBarStyle.Primary"
					Value="100"
					ShowValue="false"
					Visible="@Node.IsExecuting"
					Mode="ProgressBarMode.Indeterminate"
					Size="ProgressBarCircularSize.ExtraSmall"
				/>
				<RadzenButton
					Click="async () => await Node.ExecuteAsync()"
					Size="ButtonSize.ExtraSmall"
					Icon="play_arrow"
					Disabled="@Node.IsExecuting"
				/>
			</RadzenStack>
		</RadzenStack>

		<div class="piper-field">
			Command
			<RadzenTextBox Placeholder="cmd" Style="width: 100%;" @bind-Value="Node.Command"/>
		</div>

		@foreach (var arg in Node.Args)
		{
			<div class="piper-field">
				Argument
				<RadzenStack Orientation="Orientation.Horizontal">
					<RadzenTextBox Placeholder="args" Style="width: 100%;" @bind-Value="arg.Arg"/>
					<RadzenButton Icon="close" Size="ButtonSize.ExtraSmall" ButtonStyle="ButtonStyle.Danger" Click="@(() => Node.Args.Remove(arg))" />
				</RadzenStack>
			</div>
		}

		<div class="piper-field">
			<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End">
				<RadzenButton
					Icon="add"
					Size="ButtonSize.ExtraSmall"
					ButtonStyle="ButtonStyle.Primary"
					Click="@(() => Node.Args.Add(new ListFilesNodeModel.CmdArgument()))"
				/>
			</RadzenStack>
		</div>

		<span class="piper-node-separator"></span>

		<PiperNodePort Port="Node.StdIn" SelectDataFrame="() => Node.StdInData" />
		<PiperNodePort Port="Node.StdOut" SelectDataFrame="() => Node.StdOutData" />
		<PiperNodePort Port="Node.StdErr" SelectDataFrame="() => Node.StdErrData" />
	</RadzenStack>

</div>

<style>
.piper-node-separator {
	border-bottom: 1px var(--rz-base-600) solid;
}

.piper-field {
	position: relative;
}
</style>