@inherits NodeViewBase<Piper.Core.Nodes.PpListFilesNode>

<NodeView Node="Node">
	<RadzenFormField Text="Path" Style="width: 100%;">
		<RadzenTextBox
			@bind-Value="@Node.InPath.Value"
			@onmousedown:stopPropagation
			@onmousemove:stopPropagation
		/>
	</RadzenFormField>

	<RadzenFormField Text="Pattern" Style="width: 100%;">
		<RadzenTextBox @bind-Value="@Node.InPattern.Value"/>
	</RadzenFormField>

	<span class="piper-node-separator"></span>

	<PiperNodePort Port="Node.InPathPort" SelectDataFrame="() => Node.InPath.DataFrame()"/>
	<PiperNodePort Port="Node.InPatternPort" SelectDataFrame="() => Node.InPattern.DataFrame()"/>
	<PiperNodePort Port="Node.OutFilesPort" SelectDataFrame="() => Node.OutFiles.DataFrame()"/>
</NodeView>