@using Blazor.Diagrams.Components.Renderers
@using Blazor.Diagrams.Core.Models

<li class="list-group-item">

	@* <PortRenderer></PortRenderer> *@

	<span class="text-primary">TYPE</span>
	My Node Prop
</li>