@inherits LayoutComponentBase

<RadzenComponents/>

<RadzenLayout>
	<RadzenBody>
		<div class="rz-p-4">
			<RadzenRow>
				<RadzenColumn>

					<ErrorBoundary>
						<ChildContent>
							@Body
						</ChildContent>
						<ErrorContent Context="ex">
							<pre>
								Wups @ex.Message
							</pre>
							<pre>
								@ex.StackTrace
							</pre>
						</ErrorContent>
					</ErrorBoundary>
				</RadzenColumn>
			</RadzenRow>
		</div>
	</RadzenBody>
</RadzenLayout>

<style>
	body {
		background: #19191a;
	}
</style>