@using Blazor.Diagrams

@inherits LayoutComponentBase

@code
{
	[Inject]
	public BlazorDiagram Diagram { get; set; }

}

<RadzenComponents/>

<RadzenLayout>
	<RadzenBody>
		<div class="rz-p-4">
			<RadzenRow>
				<RadzenColumn>
					@Body
				</RadzenColumn>
			</RadzenRow>
		</div>
	</RadzenBody>
</RadzenLayout>

<style>
	body {
		background: #19191a;
	}
</style>