@inherits LayoutComponentBase

<RadzenComponents/>

<RadzenLayout>
	<RadzenBody>
		<div class="rz-p-4">
			<RadzenRow>
				<RadzenColumn>
					@Body
				</RadzenColumn>
			</RadzenRow>
		</div>
	</RadzenBody>
</RadzenLayout>

<style>
	body {
		background: #19191a;
	}
</style>