@using Blazor.Diagrams

@inherits LayoutComponentBase

@code
{
	[Inject]
	public BlazorDiagram Diagram { get; set; }

}

<RadzenComponents/>

<RadzenLayout>
	@*
	<radzensidebar expanded="false">
		<RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" style="height: 100%;">
			<LeftNav/>
		</RadzenStack>
	</RadzenSidebar>
	*@
	<RadzenBody>
		<div class="rz-p-4">
			<RadzenRow>
				<RadzenColumn>
					@Body
				</RadzenColumn>
			</RadzenRow>
		</div>
	</RadzenBody>

</RadzenLayout>

<style>
	body {
		background: #19191a;
	}
</style>