@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Components.Widgets
@using Piper.Core
@using Piper.UI.Components.CodeEditor

@inject ContextMenuService ContextMenuService

@code {

	void ShowContextMenuWithContent(MouseEventArgs args) => ContextMenuService.Open(
		args,
		ds =>
			@<RadzenMenu Click="a => OnMenuItemClick(args, a)">
				<RadzenMenuItem Text="List Files" Value="@("PP_NODE_LIST_FILES")"></RadzenMenuItem>
				<RadzenMenuItem Text="Read Files" Value="@("PP_NODE_READ_FILES")"></RadzenMenuItem>
				<RadzenMenuItem Text="Item2" Value="2"></RadzenMenuItem>
				<RadzenMenuItem Text="More items" Value="3">
					<RadzenMenuItem Text="More sub items" Value="4">
						<RadzenMenuItem Text="Item1" Value="5"></RadzenMenuItem>
						<RadzenMenuItem Text="Item2" Value="6"></RadzenMenuItem>
					</RadzenMenuItem>
				</RadzenMenuItem>
			</RadzenMenu>);

}

<RadzenSplitter
	Orientation="Orientation.Vertical"
	style="border: 1px solid rgba(0,0,0,.08); position: absolute; top: 0; right: 0; bottom: 0; left: 0;"
>
	<RadzenSplitterPane Size="70%">

		<div
			class="diagram-container"
			@oncontextmenu=@(args => ShowContextMenuWithContent(args))
			@oncontextmenu:preventDefault="true"
		>
			<CascadingValue Value="Diagram" IsFixed="true">
				<DiagramCanvas>
					<Widgets>
						<GridWidget
							Mode="GridMode.Point"
							BackgroundColor="var(--rz-base-900)"
						/>
					</Widgets>
				</DiagramCanvas>
			</CascadingValue>
		</div>

	</RadzenSplitterPane>
	<RadzenSplitterPane>

		<RadzenTabs TabPosition="TabPosition.Top" Style="height: 100%;">
			<Tabs>
				<RadzenTabsItem Text="Data">
					<DataViewer/>
				</RadzenTabsItem>
				<RadzenTabsItem Text="Code">
					<PpCodeEditor/>
				</RadzenTabsItem>
				<RadzenTabsItem Text="Graphs">
					<RadzenTable>
						<RadzenTableBody>

							@foreach (var graphFile in Graphs)
							{
								<RadzenTableRow>
									<RadzenTableCell Style="width: 80px;">
										<RadzenStack Orientation="Orientation.Horizontal" Gap="1em">
											<RadzenButton Icon="file_open" ButtonStyle="ButtonStyle.Info" Size="ButtonSize.ExtraSmall" Click="() => LoadGraphFile(graphFile)" />
											<RadzenButton Icon="save" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.ExtraSmall" Click="() => SaveGraphFile(graphFile)" />
										</RadzenStack>
									</RadzenTableCell>
									<RadzenTableCell>@graphFile.Name</RadzenTableCell>
								</RadzenTableRow>
							}

						</RadzenTableBody>
					</RadzenTable>
				</RadzenTabsItem>
			</Tabs>
		</RadzenTabs>

	</RadzenSplitterPane>
</RadzenSplitter>


<style>
	.diagram-container {
		width: 100%;
		height: 100%;
		border: 1px solid black; /* Just visual */
	}

	.default-node {
		background-color: var(--rz-secondary-darker);
		border: 1px solid var(--rz-base-600);
		border-radius: 0.25em;
		color: var(--rz-base-50);
	}

	.default-node.selected {
		border: 1px solid var(--rz-base-400);
	}

	.default-node .diagram-port {
		width: 12px;
		height: 12px;
		margin: -6px;
	}
</style>